<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">

    <%= form_for @board do |f| %>
      <%= f.text_field :title, placeholder: "Board name", id: "board-name" %>
      <ul id="errors"></ul>
    <% end %>
  </div>
</div>
