<!DOCTYPE html>
<html>
<header>

</header>
<body>

  <h1>Your boards</h1>

  <%= render "boardsform"%>

  <ul id="boards">
    <% @boards.each do |board| %>
      <li><%=link_to board.title, board_path(board[id=:id]) %></li>
    <%end %>
  </ul>

</body>
</html>
