<!DOCTYPE html>
<html>
<header>
  <script type='text/javascript'>

  (function()
  {
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }
      else
        localStorage.removeItem('firstLoad');
    }
  })();

  </script>
</header>

<body>

  <h1> Board: <%= @board.title %> </h1>

    <%= render 'cards/cardsform', card: @card, board: @board %>

    <ul id="cards">
    <% @board.cards.each do |card| %>
      <li>
        <h3> <%= card.title %> </h3>
          <form >
            <input type="text" id="new-task"> <% boardId= @board.id %></input>
            <button id="submition" onclick="submitTask()">task</button>
          </form>
        <ul id="tasklist">
        </ul>
      </li>
    <%end%>
    </ul>
</body>
</html>
