<!DOCTYPE html>
<html>
<header>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <style>
  .draggable {
    width: 100px;
    height: 50px;
    background: #ccc;
  }
  </style>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</header>
<body>

  <h1> Board: <%= @board.title %> </h1>

    <%= render 'cards/cardsform', card: @card, board: @board %>

    <ul id="cards">
    <% @board.cards.each do |card| %>
      <li>
        <h3> <%= card.title %> </h3>

            <input type="text" onkeypress="if (event.keyCode==13){ func_name(this.value);return false;}" id="new-task"/>
            <button onMouseDown="submitTask(); return false">task</button>

        <ul id="tasklist">
        </ul>
      </li>
    <%end%>
    </ul>

<!-- MORE JAVASCRIPT ow, and JQUERY at the bottom -->
    <script type="text/javascript">


    </script>

</body>
</html>
