<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">

    <%= form_for [board, card], html: { multipart: true, class="board-form" } do |f| %>
      <%= f.text_field :title, placeholder: "Card name", id: "card-name", data: { board_id: board.id } %>
      <%# f.submit "Save", class: "btn btn-primary" %>
      <!-- <ul id="errors"></ul> -->

        <%# render 'cards/todos' %>
    <% end %>
  </div>
</div>
