<!DOCTYPE html>
<html>
<header>

</header>
<body>

  <h1><%# @board.title %></h1>

  <%= render "cardsform", board: @board, card: @card %>

  <ul id="cards">
    <%# @cards.each do |card| %>
      <li><%# card.title %></li>
    <%# end %>
  </ul>


</body>
</html>
